<div class="w-36 md:w-48 rounded-[5px] border border-solid border-[#262829] border-opacity-50">
  <div class="{{getColorByCountry()}} w-full h-3 md:h-4 rounded-t-[5px]"></div>
  <div class="px-3 py-5 text-center text-[9px] md:text-base">
    <div class="font-semibold text-[10px] md:text-sm">{{getTranslatedDate()}}</div>
    <div class="font-semibold text-[10px] md:text-sm">{{getDayHour()}}</div>
    <div class="font-extralight" *ngIf="this.event.type.toLocaleLowerCase() != 'karaoke'">{{getMainLanguage()}} - {{getLanguageByLocale()}}</div>
    <div class="font-extralight" *ngIf="this.event.type.toLocaleLowerCase() == 'karaoke'">{{getLanguageByLocale()}}</div>
    <div class="font-semibold text-[10px] md:text-sm">{{event.place}}</div>
  </div>
</div>