<div class="clients-feedback text-center">
  <div class="gengoffee-blue">Notre but ? Vous faire revenir !</div>
  <h4>Ils nous ont donné leur avis</h4>
  <div class="clients-feedback-boxes">
    <div class="clients-feedback-box">
      <img src="assets/images/quotes.svg">
      <div>
        Gengoffee m’a permis d’améliorer mon anglais en plus de 
        rencontrer de nouvelles personnes !
      </div>
      <div class="clients-feedback__user">
        <img class="clients-feedback__user__image" src="" />
        <div class="clients-feedback__user__info">
          <span class="font-semibold">Steve</span>, participant français / anglais 
        </div>
      </div>
    </div>
    <div></div>
  </div> 
</div>