<div class="relative gengoffee-lightyellow-bg">
  <div class="max-w-4xl m-auto py-20 flex flex-col md:flex-row place-items-center">
    <div class="w-[24rem] md:mr-36 text-center md:text-left flex justify-center flex-col">
      <p class="gengoffee-red">
        {{'explaination.uptitle'|translate}}
      </p>
      <h4 class="font-medium text-lg md:text-2xl">
        {{'explaination.title'|translate}}
      </h4>
    </div>
    <div class="mt-12 md:mt-0 text-center md:text-left">
      <div class="flex flex-col place-items-center md:flex-row">
        <img class="w-10 md:mr-10" src="assets/images/floating-numbers.svg" />
        <div class="mt-6 md:mt-0" [innerHtml]="'explaination.1'|translate"></div>
      </div>
      <div class="flex flex-col place-items-center md:flex-row mt-10">
        <img class="w-10 md:mr-10" src="assets/images/hourglass.svg" />
        <div class="mt-6 md:mt-0" [innerHtml]="'explaination.2'|translate"></div>
      </div>
      <div class="flex flex-col place-items-center md:flex-row mt-10">
        <img class="w-10 md:mr-10" src="assets/images/text-bubble.svg" />
        <div class="mt-6 md:mt-0" [innerHtml]="'explaination.3'|translate"></div>
      </div>
      <div class="flex flex-col place-items-center md:flex-row mt-10">
        <img class="w-10 md:mr-10" src="assets/images/happy-smiley.svg" />
        <div class="mt-6 md:mt-0" [innerHtml]="'explaination.4'|translate"></div>
      </div>
    </div>
  </div>
  <app-waves *ngIf="redWave" class="hidden md:block" color="red" top="0" left="0" translateY="-40%"></app-waves>
  <app-waves *ngIf="blueWave" class="hidden md:block" color="blue" bottom="0" right="0" translateY="60%"></app-waves>
</div>