<div class="gengoffee-notice relative">
  <div class="gengoffee-notice__wrapper">
    <div class="gengoffee-notice__titles">
      <p class="gengoffee-notice__subtitle">
        En savoir un peu plus
      </p>
      <p class="gengoffee-notice__title">
        Comment se déroule un évènement Gengoffee ?
      </p>
    </div>
    <div class="gengoffee-notice__steps">
      <div class="gengoffee-notice__step">
        <img class="" src="" />
        <div><span class="font-semibold">1.</span> On vous installe à une table numérotée de <span class="font-semibold">6 à 8 personnes.</span></div>
      </div>
    </div>
  </div>
  <app-waves></app-waves>
  <app-waves></app-waves>
</div>