<section class="max-w-xs md:max-w-6xl mx-auto">
  <div class="relative mt-14 md:mt-28 w-fit mx-auto">
    <h1 class="text-center text-4xl md:text-[2.625rem]">À propos<span class="hidden md:inline"> de Gengoffee</span></h1>
    <app-animated-quote class="absolute top-10 -left-28 md:top-16 scale-[65%] md:scale-[105%]" [width]="215" content="What is Gengoffee ?"></app-animated-quote>
    <app-animated-quote class="absolute -top-10 -right-24 md:-top-16 md:-right-16 scale-75 md:scale-[115%]" [width]="170" content="これは何ですか" [revert]="true"></app-animated-quote>
  </div>
  <div class="mt-24 md:mt-48">
    <div class="flex flex-col md:flex-row">
      <div class="relative mb-10 md:ml-8 md:mb-0 md:mr-20 p-5 border border-solid border-[#262829]/50 rounded-[0.625rem]">
        <img src="assets/images/about-us-bg.png"/>
        <app-waves class="hidden md:block" top="30%" left="-40%" color="red"></app-waves>
      </div>
      <div class="md:w-[49%] text-center md:text-left">
        <h2 class="text-xl md:text-2xl font-medium">Qui sommes-nous ?</h2>
        <div class="md:text-lg mt-8">
          Nous sommes un groupe rassemblant les Japonais & Français vivant en France.
          <br><br>
          Nous avons pour concept d’organiser des échanges de langues Franco-Japonais dans un but d’entraide, amical et culturel.
          Dans cet esprit, nous faisons nos évènements dans des cafés et dans des bars afin de converser autour d’un verre ! 
          <br><br>
          Nous organisons plusieurs évènements par mois et acceptons tous niveaux dès lors que le respect est présent.
        </div>
        <div class="flex flex-wrap md:flex-nowrap gap-2 mt-4 place-content-center">
          <div class="basis-full text-sm place-self-end font-semibold md:font-normal">Vous pouvez évidemment nous joindre sur nos réseaux sociaux</div>
          <img src="assets/images/right-arrow-black.svg" />
          <a href="https://www.instagram.com/gengoffee"><img width="20" src="assets/images/instagram-black.svg" /></a>
          <a href="https://www.facebook.com/groups/gengoffee"><img width="20" src="assets/images/facebook-black.svg" /></a>
          <a href="https://www.meetup.com/fr-FR/find/?keywords=gengoffee&source=GROUPS"><img width="20" src="assets/images/meetup-black.svg" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-16 md:mt-32">
    <div class="text-xl md:text-2xl">En quelques chiffres...</div>
    <div class="mt-8 md:mt-14">
      <div class="py-5 md:py-7 grid md:flex auto-rows-min md:justify-between border-t border-black/50">
        <div class="col-start-1 col-end-2 row-start-1 row-end-2 text-lg font-semibold md:font-normal md:text-[1.375rem] ">Membres</div>
        <div class="col-start-1 col-end-7 row-start-2 row-end-3 md:flex-2 md:text-lg md:w-1/2 mt-6 md:mt-0">L’association est composé de profils très variés qui blablablabalabalabljkdjisjdsjd ksjdskdj</div>
        <div class="col-start-6 col-end-7 row-start-1 row-end-2 text-[2.5rem] md:text-[3.75rem] leading-8">9</div>
      </div>
      <div class="py-5 md:py-7 grid md:flex auto-rows-min md:justify-between border-t border-black/50">
        <div class="col-start-1 col-end-2 row-start-1 row-end-2 text-lg font-semibold md:font-normal md:text-[1.375rem] ">Membres</div>
        <div class="col-start-1 col-end-7 row-start-2 row-end-3 md:flex-2 md:text-lg md:w-1/2 mt-6 md:mt-0">L’association est composé de profils très variés qui blablablabalabalabljkdjisjdsjd ksjdskdj</div>
        <div class="col-start-6 col-end-7 row-start-1 row-end-2 text-[2.5rem] md:text-[3.75rem] leading-8">9</div>
      </div>
      <div class="py-5 md:py-7 grid md:flex auto-rows-min md:justify-between border-t border-black/50">
        <div class="col-start-1 col-end-2 row-start-1 row-end-2 text-lg font-semibold md:font-normal md:text-[1.375rem] ">Membres</div>
        <div class="col-start-1 col-end-7 row-start-2 row-end-3 md:flex-2 md:text-lg md:w-1/2 mt-6 md:mt-0">L’association est composé de profils très variés qui blablablabalabalabljkdjisjdsjd ksjdskdj</div>
        <div class="col-start-6 col-end-7 row-start-1 row-end-2 text-[2.5rem] md:text-[3.75rem] leading-8">{{countEvents || 0}}</div>
      </div>
    </div>
  </div>
</section>
<div class="mt-20 md:mt-40 py-16 gengoffee-lightyellow-bg">
  <app-partners [emptyQuote]="true"></app-partners>
</div>