<section class="mt-16 md:mt-28 flex place-items-center text-center">
  <div class="relative m-auto">
    <h1 class="text-[2.25rem] md:text-[2.625rem]">{{'events.title'|translate}}</h1>
    <app-animated-quote class="absolute top-12 left-9 md:-top-10 md:-left-8 scale-[65%] md:scale-[105%]" [width]="120" content="events !"></app-animated-quote>
    <app-animated-quote class="absolute -top-9 right-9 md:top-8 md:-right-6 scale-75 md:scale-[115%]" [width]="120" content="イベント" [revert]="true"></app-animated-quote>
    <div class="md:text-lg pt-16 md:pt-10 w-8/12 m-auto" [innerHtml]="'events.description' | translate"></div>
    <div class="pt-5">
      <button [routerLink]="['/register']" class="text-lg gengoffee-btn gengoffee-btn-primary mr-4">
        {{'hero.buttons.register'|translate}}
      </button>
      <a href="events/#notice">
        <button class="text-lg gengoffee-btn gengoffee-btn-outline-primary">
        {{'hero.buttons.more'|translate}}
        </button>
      </a>
    </div>
  </div>
</section>
<section class="mt-12 md:mt-20">
  <h2 class="text-lg md:text-[1.375rem] text-center font-light">{{'events.nextevents'|translate}}</h2>
  <div class="flex justify-center place-items-center flex-col md:flex-row mt-5 gap-7 md:gap-14">
    <div *ngFor="let event of returnSliced">
      <app-event-item class="flex" [event]="event" [active]="true"></app-event-item>
      <app-event-item *ngIf="sharedEvents.next['next'].length === 0" [fallback]="true"></app-event-item>
    </div>
  </div>
</section>
<section class="w-fit mt-16 md:mt-28 mx-auto">
  <div class="flex flex-col md:flex-row">
    <div class="md:flex-1"></div>
    <div class="md:m-auto md:flex-1 text-center text-lg font-light md:text-[1.375rem]">{{'events.pastevents.title' | translate}}</div>
    <div class="md:flex-1"></div>
  </div>
  <div class="mt-10 md:mt-16 grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-8 md:gap-10">
    <app-past-event-card *ngFor="let event of sharedEvents.past['past']" [event]="event"></app-past-event-card>
  </div>
</section>
<section class="mt-16 md:mt-40">
  <app-gengoffee-notice id="notice" [redWave]="true"></app-gengoffee-notice>
</section>