<h4>Nos partenaires</h4>
<div class="ppmori-semibold">
  Un grand merci à Les Berthom qui accueille nos évènements.
</div>
<div class="partners__location">
  <img class="partners__location__logo" src="assets/images/berthom-logo.svg"/>
  <div class="partners__location__address">
    <p>Les Berthom</p>
    <p class="ppmori-extralight">35 Bd Voltaire</p>
    <p class="ppmori-extralight">75011 Paris</p>
  </div>
</div>
<div>
  Vous souhaitez soutenir Gengoffee ou accueillir nos prochaines sessions ?
</div>
<button class="gengoffee-btn gengoffee-btn-primary">
  Contactez-nous
</button>