<div class="flex place-items-center flex-col text-center">
  <div class="relative">
    <h4 class="font-medium text-base md:text-3xl">{{'partners.title'|translate}}</h4>
    <app-animated-quote class="absolute z-10 -top-10 -right-24 md:-right-32 scale-[60%] md:scale-100" content="thank you!" [empty]="emptyQuote"></app-animated-quote>
  </div>
  <div class="mt-10 text-sm md:text-base w-full md:w-1/2 mx-auto">
    {{'partners.description'|translate}}
  </div>
  <div class="flex justify-center items-stretch gap-10 md:gap-16 mt-10">
    <div class="flex flex-col items-center justify-between">
      <img class="w-20 md:w-28" src="assets/images/berthom-logo.svg"/>
      <p class="mt-2">{{'partners.partner.berthom.name'|translate}}</p>
    </div>
    <div class="flex flex-col items-center justify-between">
      <img class="w-20 md:w-28" src="assets/images/obrkof.webp"/>
      <a href="https://obrkof.com/" class="underline flex gap-1 items-center mt-2">Café Obrkof<img width="20" src="assets/images/internet-logo.svg"></a>
    </div>
    <div class="flex flex-col items-center justify-between">
      <img class="w-20 md:w-28" src="assets/images/snaffles_logo_english2.png"/>
      <a href="https://www.instagram.com/snafflesparis/" class="underline flex gap-1 items-center mt-2">Snaffle's Paris<img width="20" src="assets/images/instagram-black.svg"></a>
    </div>
  </div>
  <div class="mt-10">
    {{'partners.invitation'|translate}}
  </div>
  <button [routerLink]="['/contact']" class="gengoffee-btn gengoffee-btn-primary mt-8">
    {{'contact_us'|translate}}
  </button>
</div>
