<header class="header">
  <div class="header__logo gengoffee-blue-bg">
    <img src="assets/images/gengoffee-logo.svg" />
  </div>
  <nav class="ppmori">
    <div class="header__link">
      <a href="#">Home</a>
    </div>
    <div class="header__link">
      <a href="events">{{'events.title'|translate}}</a>
    </div>
    <div class="header__link">
      <a href="#">News</a>
    </div>
    <div class="header__link">
      <a href="#">About</a>
    </div>
    <div class="header__link">
      <a href="#">Contact</a>
    </div>
  </nav>
</header>
