<header class="header h-20 md:flex md:pr-20 md:pl-16">
  <a [routerLink]="['/']">
    <div class="hidden md:block pt-8 px-4 pb-6 gengoffee-blue-bg">
      <img class="w-28 h-6" src="assets/images/gengoffee-logo.svg" />
    </div>
  </a>
  <nav
    [ngClass]="{ 'hidden': !showMobileMenu && isMobile() }"
    class="
      ppmori flex place-items-center fixed flex-col pt-24 gap-5 text-xl inset-0 bg-white z-50 
      md:flex-row md:text-base md:gap-10 md:relative md:pt-5 md:ml-auto"
  >
    <div class="">
      <a [routerLink]="['/']" (click)="closeMenu();">{{'header.menu.home'|translate}}</a>
    </div>
    <div class="header__link">
      <a [routerLink]="['/events']" (click)="closeMenu();">{{'header.menu.events'|translate}}</a>
    </div>
    <div class="">
      <a [routerLink]="['/about']" (click)="closeMenu();">{{'header.menu.about'|translate}}</a>
    </div>
    <div class="">
      <a [routerLink]="['/contact']" (click)="closeMenu();">{{'header.menu.contact'|translate}}</a>
    </div>
    <div *ngIf="isMobile()" class="text-[#1F3D87] place-self-center">
      <button (click)="switchLanguage('en')" class="">ENG</button>
      <button (click)="switchLanguage('fr')" class="ml-8 mr-6">FR</button>
      <button (click)="switchLanguage('jp')" class="">日本語</button>
    </div>
    <img *ngIf="isMobile()" class="pt-6" (click)="closeMenu();" src="assets/images/close.svg" />

  </nav>
  <img *ngIf="!showMobileMenu && isMobile()" class="pt-5 m-auto" (click)="openMenu();" src="assets/images/hamburger-menu.svg">
</header>
