<section class="px-6 md:px-0 pt-12 flex flex-col md:pt-24 md:max-w-3xl m-auto">
  <h1 class="hidden md:block text-center text-4xl md:text-[2.625rem]">{{'contact.title' | translate}}</h1>
  <h1 class="block md:hidden relative text-center text-4xl md:text-[2.625rem] w-fit mx-auto">
    {{'contact.titleResponsive' | translate}}
    <app-animated-quote class="absolute md:hidden top-10 -left-20 scale-75 text-[12px]" [width]="210" content="wanna say something ?"></app-animated-quote>
    <app-animated-quote class="absolute md:hidden -top-10 -right-16 scale-[65%] text-[16px]" [width]="150" content="お問い合わせ" [revert]="true"></app-animated-quote>
  </h1>
  <div class="relative text-center text-xl mt-20 md:mt-14 w-fit mx-auto">
    En remplissant le formulaire ci-dessous<br>
    ou directement sur : contact@gengoffee.fr
    <app-animated-quote class="hidden md:block absolute -left-64 top-0 scale-100 text-[16px]" [width]="235" content="wanna say something ?"></app-animated-quote>
    <app-animated-quote class="hidden md:block absolute -top-0 -right-52 scale-[110%] text-[19px]" [width]="175" content="お問い合わせ" [revert]="true"></app-animated-quote>
  </div>
  <div class="">
    <div class="">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <div class="grid place-content-center grid-cols-1 gap-10 mt-10 md:grid-cols-2 md:gap-12 md:mt-20">
          <div class="flex flex-col">
            <label class="font-semibold" for="fullname">Full Name</label>
            <input type="text" class="border-b border-[#262829]/50 border-solid pt-4" name="fullname" placeholder="Full Name" formControlName="fullname">
          </div>
          <div class="flex flex-col">
            <label class="font-semibold" for="email">Email</label>
            <input type="email" class="border-b border-[#262829]/50 border-solid pt-4" name="email" aria-describedby="emailHelp" placeholder="Enter email"
              formControlName="email">
          </div>
          <div class="flex flex-col">
            <label class="font-semibold" for="phone">
              Phone Number
              <p class="text-gray-400 inline">({{'register.optionnal'|translate}})</p>
            </label>
            <input type="number" class="border-b border-[#262829]/50 border-solid pt-4 appearance-none" name="phone" placeholder="+33 XX XX XX XX" formControlName="phone">
          </div>
          <div class="flex flex-col">
            <label class="font-semibold" for="subject">Objet</label>
            <input type="text" class="border-b border-[#262829]/50 border-solid pt-4" name="subject" placeholder="Subject" formControlName="subject">
          </div>
        </div>
        <div class="flex flex-col mt-10 md:mt-12">
          <label class="font-semibold" for="comment">Comment</label>
          <textarea class="border border-[#262829]/50 rounded-[5px] min-h-[115px] p-4 resize-none" formControlName="comment" name="comment" placeholder="Je suis des cours de japonais depuis 5 ans mais j’ai encore des difficultés à m’exprimer :(">
          </textarea>
        </div>
        <button [ngClass]="{'!text-[#BF292E] spin': loading}" type="submit" class="relative spin flex mx-auto gengoffee-btn gengoffee-btn-primary mt-8" [disabled]="!formGroup.valid">Submit</button>
        <div class="flex gap-2 mt-20 mb-24 place-content-center">
          <div class="text-lg">Vous pouvez évidemment nous joindre sur nos réseaux sociaux</div>
          <img class="mx-3" src="assets/images/right-arrow-black.svg" />
          <img width="20" src="assets/images/instagram-black.svg" />
          <img width="20" src="assets/images/facebook-black.svg" />
          <img width="20" src="assets/images/meetup-black.svg" />
        </div>
      </form>
    </div>
  </div>
</section>