<section class="px-6 md:px-0 pt-12 flex flex-col md:pt-24 md:max-w-3xl m-auto">

  <h1 class="hidden md:block text-center text-4xl md:text-[2.625rem]">{{'contact.title' | translate}}</h1>
  <h1 class="block md:hidden relative text-center text-4xl md:text-[2.625rem] w-fit mx-auto">
    {{'contact.titleResponsive' | translate}}
    <app-animated-quote class="absolute md:hidden top-10 -left-20 scale-75 text-[12px]" [width]="210" content="wanna say something ?"></app-animated-quote>
    <app-animated-quote class="absolute md:hidden -top-10 -right-16 scale-[65%] text-[16px]" [width]="150" content="お問い合わせ" [revert]="true"></app-animated-quote>
  </h1>
  <div class="relative w-fit mx-auto mt-20 md:mt-14">
    <div class="text-center text-xl" [innerHtml]="'contact.description' | translate"></div>
    <app-animated-quote class="hidden md:block absolute -left-64 top-0 scale-100 text-[16px]" [width]="235" content="wanna say something ?"></app-animated-quote>
    <app-animated-quote class="hidden md:block absolute -top-0 -right-52 scale-[110%] text-[19px]" [width]="175" content="お問い合わせ" [revert]="true"></app-animated-quote>
  </div>
  <div class="">
    <div class="text-center text-xl gengoffee-red my-4"> {{'contact.warning' | translate}} </div>
    <div class="">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <div class="grid place-content-center grid-cols-1 gap-10 mt-10 md:grid-cols-2 md:gap-12 md:mt-20">
          <div class="flex flex-col">
            <label class="font-semibold" for="fullname">{{'contact.name'|translate}}</label>
            <input type="text" class="border-b border-[#262829]/50 border-solid pt-4" name="fullname" placeholder="Gengoffee San" formControlName="fullname">
          </div>
          <div class="flex flex-col">
            <label class="font-semibold" for="email">{{'contact.mail'|translate}}</label>
            <input type="email" class="border-b border-[#262829]/50 border-solid pt-4" name="email" aria-describedby="emailHelp" placeholder="gengoffee-kun@gengoffee.com"
              formControlName="email">
          </div>
          <div class="flex flex-col">
            <label class="font-semibold" for="phone">
              {{'contact.phone'|translate}}
              <p class="text-gray-400 inline">({{'register.optional'|translate}})</p>
            </label>
            <input type="number" class="border-b border-[#262829]/50 border-solid pt-4 appearance-none" name="phone" placeholder="+33 XX XX XX XX" formControlName="phone">
          </div>
          <div class="flex flex-col">
            <label class="font-semibold" for="subject">{{'contact.object'|translate}}</label>
            <input type="text" class="border-b border-[#262829]/50 border-solid pt-4" name="subject" placeholder="{{'contact.p_object'|translate}}" formControlName="subject">
          </div>
        </div>
        <div class="flex flex-col mt-10 md:mt-12">
          <label class="font-semibold" for="body">{{'contact.message'|translate}}</label>
          <textarea class="border border-[#262829]/50 rounded-[5px] min-h-[115px] p-4 resize-none" formControlName="body" name="body" placeholder="{{'contact.p_message'|translate}}">
          </textarea>
        </div>
        <button [ngClass]="{'!text-[#BF292E] spin': loading}" type="submit" class="relative spin flex mx-auto gengoffee-btn gengoffee-btn-primary mt-8" [disabled]="!formGroup.valid">{{'contact.button'|translate}}</button>
      </form>
      
      <div class="flex gap-2 mt-20 mb-24 place-content-center">
        <div class="text-lg">{{'about.followus'|translate}}</div>
        <img class="mx-3" src="assets/images/right-arrow-black.svg" />
        <a href="https://www.instagram.com/gengoffee"><img width="20" src="assets/images/instagram-black.svg" /></a>
        <a href="https://www.facebook.com/Gengoffee"><img width="20" src="assets/images/facebook-black.svg" /></a>
        <a href="https://www.meetup.com/fr-FR/find/?keywords=gengoffee&source=GROUPS"><img width="20" src="assets/images/meetup-black.svg" /></a>
      </div>
    </div>
  </div>
</section>