<div class="max-w-xs md:max-w-4xl mx-auto mb-8">
    <h1 class="w-fit mx-auto mb-12">{{'conditions.title'|translate}}</h1>

    <div class="mb-8 space-y-6">
        <p class="text-xl">{{'conditions.object.title'|translate}}</p>
        <p class="ml-4">{{'conditions.object.description'|translate}}</p>
    </div>

    <div class="space-y-6 mb-8">
        <p class="text-xl">{{'conditions.register.title'|translate}}</p>
        <p class="ml-4">{{'conditions.register.description'|translate}}</p>
    </div>

    <div class="space-y-6 mb-8">
        <p class="text-xl">{{'conditions.terms.title'|translate}}</p>
        <div class="ml-4 space-y-2">
            <p>{{'conditions.terms.description.1'|translate}}</p>
            <p>{{'conditions.terms.description.2'|translate}}</p>
        </div>
    </div>

    <div class="space-y-6 mb-8">
        <p class="text-xl">{{'conditions.price.title'|translate}}</p>
        <p class="ml-4">{{'conditions.price.description'|translate}}</p>
    </div>
    <div class="space-y-6 mb-8">
        <p class="text-xl">{{'conditions.cancel.title'|translate}}</p>
        <div class="ml-2">
            <p class="text-lg my-4">{{'conditions.cancel.association.title'|translate}}</p>
            <div class="ml-4 mb-4">
                <p class="my-2">{{'conditions.cancel.association.description.1'|translate}}</p>
                <p class="my-2">{{'conditions.cancel.association.description.2'|translate}}</p>
            </div>   

            <p class="text-lg my-4">{{'conditions.cancel.client.title'|translate}}</p>
            <p class="ml-4 my-4">{{'conditions.cancel.client.description'|translate}}</p>
            
            <p class="text-lg my-4">{{'conditions.cancel.refund.title'|translate}}</p>
            <div class="ml-4 mb-4">
                <p class="my-2">{{'conditions.cancel.refund.description.title'|translate}}</p>
                <p class="my-2">{{'conditions.cancel.refund.description.1'|translate}}</p>
                <p class="my-2">{{'conditions.cancel.refund.description.2'|translate}}</p>
            </div> 

            <p class="text-lg my-4">{{'conditions.cancel.exception.title'|translate}}</p>
            <p class="ml-4 my-4">{{'conditions.cancel.exception.description'|translate}}</p>

            <p class="text-lg my-4">{{'conditions.cancel.communication.title'|translate}}</p>
            <p class="ml-4 my-4">{{'conditions.cancel.communication.description'|translate}}</p>
        </div>
    </div>

    <div class="space-y-6 mb-8">
        <p class="text-xl">{{'conditions.data.title'|translate}}</p>
        <div class="ml-4 my-4">
            <p class="inline">{{'conditions.data.description'|translate}}</p>
            <div class="inline underline"><a [routerLink]="['/legal-notice']">{{'conditions.data.legal-notice'|translate}}</a></div>
        </div>
    </div>

    <div class="space-y-6 mb-8">
        <p class="text-xl">{{'conditions.responsability.title'|translate}}</p>
        <div class="ml-4 mb-4">
            <p class="my-2">{{'conditions.responsability.description.1'|translate}}</p>
            <p class="my-2">{{'conditions.responsability.description.2'|translate}}</p>
        </div> 
    </div>

    <div class="space-y-6 mb-8">
        <p class="text-xl">{{'conditions.image.title'|translate}}</p>
        <p class="ml-4 my-4">{{'conditions.image.description'|translate}}</p>
    </div>


    <div class="space-y-6 mb-8">
        <p class="text-xl">{{'conditions.rights.title'|translate}}</p>
        <p class="ml-4 my-4">{{'conditions.rights.description'|translate}}</p>
    </div>

    <div class="space-y-6 mb-8">
        <p class="text-xl">{{'conditions.exceptions.title'|translate}}</p>
        <p class="ml-4 my-4">{{'conditions.exceptions.description'|translate}}</p>
    </div>

    <div class="space-y-6 mb-8">
        <p class="text-xl">{{'conditions.communication.title'|translate}}</p>
        <p class="ml-4 my-4">{{'conditions.communication.description'|translate}}</p>
    </div>


</div>