<div class="max-w-xs md:max-w-4xl mx-auto mb-8">
    <h1 class="w-fit mx-auto mb-12">{{'legal.title'|translate}}</h1>

    <div class="space-y-6 md:space-y-8 mb-8">
        <p>{{'legal.association.description'|translate}}</p>
        <p>{{'legal.association.siret'|translate}}</p>
        <p>{{'legal.association.address'|translate}}</p>
        <p>{{'legal.association.headchef'|translate}}</p>
    </div>
    <div class="space-y-1 mb-8">
        <p>{{'legal.association.developpers.developpers'|translate}}</p>
        <p>{{'legal.association.developpers.design'|translate}}</p>
        <p>{{'legal.association.developpers.text'|translate}}</p>
        <p>{{'legal.association.developpers.seo'|translate}}</p>
    </div>
    <div [innerHtml]="'legal.association.credits'|translate"></div>

    <div class="mt-12">
        <div>
            <p class="text-xl">{{'legal.data.title'|translate}}</p>
            <p class="my-8">{{'legal.data.subtitle'|translate}}</p>
            <div [innerHtml]="'legal.data.description'|translate"></div>
        </div>
        <div>
            <p class="mt-8 text-xl">{{'legal.data.dataCollected.title'|translate}}</p>
            <p class="my-8">{{'legal.data.dataCollected.fromUs.title'|translate}}</p>
            <div [innerHtml]="'legal.data.dataCollected.fromUs.description'|translate"></div>
        </div>
        <div>
            <p class="my-8">{{'legal.data.dataCollected.minor.title'|translate}}</p>
            <div [innerHtml]="'legal.data.dataCollected.minor.description'|translate"></div>
        </div>
        <div>
            <p class="my-8">{{'legal.data.dataCollected.collection.title'|translate}}</p>
            <div [innerHtml]="'legal.data.dataCollected.collection.description'|translate"></div>
        </div>
        <div>
            <p class="my-8">{{'legal.data.dataCollected.reason.firstTitle'|translate}}</p>
            <p class="mb-8">{{'legal.data.dataCollected.reason.title'|translate}}</p>
            <div [innerHtml]="'legal.data.dataCollected.reason.description'|translate"></div>
        </div>
        <div>
            <p class="my-8">{{'legal.data.dataCollected.interest.title'|translate}}</p>
            <div [innerHtml]="'legal.data.dataCollected.interest.description'|translate"></div>
        </div>
        <div>
            <p class="my-8">{{'legal.data.dataCollected.timespan.firstTitle'|translate}}</p>
            <p class="mb-8">{{'legal.data.dataCollected.timespan.title'|translate}}</p>
            <div [innerHtml]="'legal.data.dataCollected.timespan.description'|translate"></div>
        </div>
        <div>
            <p class="my-8">{{'legal.data.dataCollected.destination.firstTitle'|translate}}</p>
            <p class="mb-8">{{'legal.data.dataCollected.destination.title'|translate}}</p>
            <div [innerHtml]="'legal.data.dataCollected.destination.description'|translate"></div>
        </div>
        <div>
            <p class="my-8">{{'legal.data.dataCollected.links.title'|translate}}</p>
            <div [innerHtml]="'legal.data.dataCollected.links.description'|translate"></div>
        </div>
        <div>
            <p class="my-8">{{'legal.data.dataCollected.destination.firstTitle'|translate}}</p>
            <p class="mb-8">{{'legal.data.dataCollected.destination.title'|translate}}</p>
            <div [innerHtml]="'legal.data.dataCollected.destination.description'|translate"></div>
        </div>

        <div>
            <p class="my-8">{{'legal.data.dataCollected.rights.firstTitle'|translate}}</p>
            <p class="mb-8">{{'legal.data.dataCollected.rights.title1'|translate}}</p>
            <div [innerHtml]="'legal.data.dataCollected.rights.description1'|translate"></div>
            <p class="my-8">{{'legal.data.dataCollected.rights.title2'|translate}}</p>
            <div [innerHtml]="'legal.data.dataCollected.rights.description2'|translate"></div>
            <p class="my-4 ppmori-bold">{{'legal.data.dataCollected.rights.consent'|translate}}</p>
            <div [innerHtml]="'legal.data.dataCollected.rights.consentDescription'|translate"></div>
            <p class="my-4 ppmori-bold">{{'legal.data.dataCollected.rights.transfert'|translate}}</p>
            <div [innerHtml]="'legal.data.dataCollected.rights.transfertDescription'|translate"></div>
            <p class="my-4 ppmori-bold">{{'legal.data.dataCollected.rights.access'|translate}}</p>
            <div [innerHtml]="'legal.data.dataCollected.rights.accessDescription'|translate"></div>
            <p class="my-4 ppmori-bold">{{'legal.data.dataCollected.rights.correction'|translate}}</p>
            <div [innerHtml]="'legal.data.dataCollected.rights.correctionDescription'|translate"></div>
            <p class="my-4 ppmori-bold">{{'legal.data.dataCollected.rights.retractation'|translate}}</p>
            <div [innerHtml]="'legal.data.dataCollected.rights.retractationDescription'|translate"></div>
            <p class="my-4 ppmori-bold">{{'legal.data.dataCollected.rights.oversight'|translate}}</p>
            <div [innerHtml]="'legal.data.dataCollected.rights.oversightDescription'|translate"></div>
            <p class="my-4 ppmori-bold">{{'legal.data.dataCollected.rights.portability'|translate}}</p>
            <div [innerHtml]="'legal.data.dataCollected.rights.portabilityDescription'|translate"></div>
            <p class="my-8 ppmori-bold">{{'legal.data.dataCollected.rights.death'|translate}}</p>
            <div [innerHtml]="'legal.data.dataCollected.rights.deathDescription'|translate"></div>
        </div>
        <div>
            <p class="my-8">{{'legal.data.dataCollected.application.title'|translate}}</p>
            <div [innerHtml]="'legal.data.dataCollected.application.description'|translate"></div>
        </div>

        <div>
            <p class="mt-12 mb-8">{{'legal.data.contact.title'|translate}}</p>
            <div [innerHtml]="'legal.data.contact.description'|translate"></div>
        </div>

    </div>


</div>