<div class="mb-32">
    <form class="pt-2">
        <p class="pt-10">Type de l'événement</p>
        <input type="text" [(ngModel)]="type" name="language" placeholder="en / jp" class="border-b border-solid pt-4">

        <p class="pt-10">Lieu de l'événement</p>
        <input type="text" name="number"  [(ngModel)]="place"  placeholder="Les Berthom" class="border-b border-solid pt-4">
        
        <mat-form-field>
            <input matInput [ngxMatDatetimePicker]="picker" [formControl]="dateControl"
            [min]="minDate" [max]="maxDate" [disabled]="disabled">
            <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
            [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
            [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian" 
            [disableMinute]="disableMinute" [hideTime]="hideTime">
            </ngx-mat-datetime-picker>
        </mat-form-field>
        <div class="mt-8">
            <button type="button" [ngClass]="location === 'PARIS' ? 'opacity-100' : 'opacity-50'" (click)="changeLocation('PARIS')" class="gengoffee-btn gengoffee-btn-primary rounded-none">PARIS</button>
            <button type="button" [ngClass]="location === 'TOKYO' ? 'opacity-100' : 'opacity-50'" (click)="changeLocation('TOKYO')" class="gengoffee-btn gengoffee-btn-primary rounded-none">TOKYO</button>

        </div>
        
        <button type="submit" (click)="submitForm()" class="place-content-center flex mx-auto my-32 gengoffee-btn gengoffee-btn-primary">
            Send
        </button>                
    </form>
</div>