<div class="mb-32 w-11/12 m-auto">
    <h2 class="mt-12 m-auto w-fit">{{'create.title'|translate}}</h2>
    <form class="pt-2">
        <p class="pt-10 ppmori-bold">{{'create.type'|translate}}</p>
        <input type="text" [(ngModel)]="type" name="language" placeholder="en / jp" class="hidden border-b border-solid pt-4">
        <div class="ml-6 flex gap-6 pt-6">
            <button type="button" [ngClass]="type === 'fr' ? 'opacity-100' : 'opacity-50'" (click)="changeType('fr')" class="gengoffee-btn gengoffee-btn-quaternary">{{'fr'|translate}}</button>
            <button type="button" [ngClass]="type === 'en' ? 'opacity-100' : 'opacity-50'" (click)="changeType('en')" class="gengoffee-btn gengoffee-btn-quaternary">{{'en'|translate}}</button>
            <button type="button" [ngClass]="type === 'jp' ? 'opacity-100' : 'opacity-50'" (click)="changeType('jp')" class="gengoffee-btn gengoffee-btn-quaternary">{{'jp'|translate}}</button>

        </div>

        <p class="pt-10 ppmori-bold">{{'create.place'|translate}}</p>
        <input type="text" name="place"  [(ngModel)]="place"  placeholder="Les Berthom" class="border-b border-solid pt-4">
        

        <div class="mt-12">
            <p class="text-base ppmori-bold mb-8">{{'create.city'|translate}}</p>
            <div class="ml-6 flex gap-6">
                <button type="button" [ngClass]="location === 'PARIS' ? 'opacity-100' : 'opacity-50'" (click)="changeLocation('PARIS')" class="gengoffee-btn gengoffee-btn-primary rounded-none">{{'paris'|translate}}</button>
                <button type="button" [ngClass]="location === 'TOKYO' ? 'opacity-100' : 'opacity-50'" (click)="changeLocation('TOKYO')" class="gengoffee-btn gengoffee-btn-primary rounded-none">{{'tokyo'|translate}}</button>
            </div>
        </div>
        
        <button type="submit" (click)="submitForm()" class="place-content-center flex mx-auto my-32 gengoffee-btn gengoffee-btn-primary">
            Send
        </button>                 
    </form>
</div>