<div class="home">
  <section class="pt-24 flex max-w-5xl m-auto">
    <div class="pt-20 w-5/12">
      <div class="w-fit">
        <h2 class="tracking-[0.03em] pb-1">
          La culture japonaise
        </h2>
        <div class="divider"></div>
        <h3 class="ppmori uppercase opacity-50 tracking-[0.18em] pt-3">
          à votre rencontre
        </h3>
      </div>
      <div class="pt-10 text-xl w-10/12">
        Gengoffee est un collectif organisant 
        des événements Franco-Japonais et 
        Franco-Anglais sur Paris.
      </div>
      <div class="pt-9">
        <button class="text-lg gengoffee-btn gengoffee-btn-primary mr-4">
          Inscription
        </button>
        <button class="text-lg gengoffee-btn gengoffee-btn-outline-primary">
          En savoir plus
        </button>
      </div>
    </div>
    <div class="w-6/12 flex place-content-end">
      <div class="relative w-[24rem] h-[29rem]">
        <img class="absolute bottom-0" src="assets/images/mountain-view.png" />
        <img class="absolute top-0" src="assets/images/red-shaped-mask.png" />
        <div class="absolute outline-1 outline-offset-[-1rem] outline-white outline-double z-10 w-full h-full"></div>
      </div>
    </div>
  </section>
  <section class="pt-52">
    <div class="ml-48">
      <h4 class="font-medium">
        Nos événements, vos rencontres
      </h4>
      <div class="pt-4 max-w-lg">
        Chaque semaine des rendez-vous afin de vous permettre d’échanger autour d’un verre.
        Retrouvez nos prochaines sessions.
      </div>
    </div>
    <div class="pt-12 flex gap-7 justify-center overflow-x-hidden">
      <app-event-item></app-event-item>
      <app-event-item></app-event-item>
      <app-event-item [active]="true"></app-event-item>
      <app-event-item></app-event-item>
    </div>
  </section>
  <section class="home__partners text-lg">
    <app-partners></app-partners>
  </section>
  <section class="home__gengoffee-notice">
    <app-gengoffee-notice></app-gengoffee-notice>
  </section>
  <section class="home__clients__feedback">
    <app-clients-feedback></app-clients-feedback>
  </section>
</div>