<!-- Hero header -->
<section class="pt-12 flex flex-col md:max-w-3xl md:pt-24 md:flex-row lg:max-w-5xl m-auto">
  <div class="flex flex-col place-items-center md:block md:pt-20 md:w-5/12">
    <div class="w-fit">
      <h2 class="tracking-[0.03em] pb-1 text-[1.25rem] md:text-[2.125rem]">
        {{'hero.title'|translate}}
      </h2>
      <div class="divider"></div>
      <h3 class="ppmori uppercase opacity-50 tracking-[0.18em] pt-3 text-base md:text-[1.75rem]">
        {{'hero.subtitle'|translate}}
      </h3>
    </div>
    <div class="pt-10 md:text-xl w-10/12 text-center md:text-left">
      {{'hero.description'|translate}}
    </div>
    <!-- DESKTOP BUTTONS -->
    <div class="pt-9 hidden md:block">
      <button [routerLink]="['/register']" class="text-lg gengoffee-btn gengoffee-btn-primary mr-4">
        {{'hero.buttons.register'|translate}}
      </button>
      <button [routerLink]="['/about']" class="text-lg gengoffee-btn gengoffee-btn-outline-primary">
        {{'hero.buttons.more'|translate}}
      </button>
    </div>
  </div>
  <!-- TODO : Improve responsive for the mountain image -->
  <!-- TODO : Add gray tooltip animations -->
  <div class="md:w-6/12">
    <div class="flex pt-10 md:pt-0 place-content-center md:place-content-end">
      <div class="relative w-[24rem] h-[29rem]">
        <img class="absolute bottom-0" src="assets/images/mountain-view.png" />
        <img class="absolute top-0" src="assets/images/red-shaped-mask.png" />
        <div class="absolute outline-1 outline-offset-[-1rem] outline-white outline-double z-10 w-full h-full"></div>
        <app-animated-quote class="hidden md:block absolute scale-150 z-10 top-16 -left-16" content="Hello :)"></app-animated-quote>
        <app-animated-quote class="hidden md:block absolute scale-150 z-10 bottom-20 -right-16" content="Hello :)" [revert]="true"></app-animated-quote>
      </div>
    </div>
    <!-- MOBILE BUTTONS -->
    <div class="pt-9 md:hidden flex place-content-center">
      <button [routerLink]="['/register']" class="text-lg gengoffee-btn gengoffee-btn-primary mr-4">
        {{'hero.buttons.register'|translate}}
      </button>
      <button [routerLink]="['/about']" class="text-lg gengoffee-btn gengoffee-btn-outline-primary">
        {{'hero.buttons.more'|translate}} 
      </button>
    </div>
  </div>
</section>
<!-- Event list -->
<section class="pt-20 md:pt-52">
  <div class="text-center md:text-left lg:max-w-6xl lg:m-auto">
    <h4 class="font-medium text-base md:text-2xl">
      {{'carousel.title'|translate}}
    </h4>
    <div class="pt-4 md:max-w-sm lg:max-w-lg m-auto md:m-0">
      {{'carousel.description'|translate}}
    </div>
  </div>
  <div class="w-fit m-auto md:w-auto md:m-0 pt-12 flex flex-col md:flex-row gap-7 justify-center overflow-x-clip">
    <app-event-item *ngIf="pastEvents?.length > 1" [event]="pastEvents[1]"></app-event-item>
    <app-event-item *ngIf="pastEvents?.length > 0" [event]="pastEvents[0]"></app-event-item>
    <app-event-item *ngIf="nextEvents?.length > 0" [event]="nextEvents[0]" [active]="true" class="md:scale-[115%] md:mx-6 md:-translate-y-10"></app-event-item>
    <app-event-item *ngIf="nextEvents?.length > 1" [event]="nextEvents[1]"></app-event-item>
  </div>
</section>
<!-- Partners -->
<section class="md:text-lg pt-14 md:pt-8 text-center px-5 md:px-0">
  <app-partners></app-partners>
</section>
<!-- Notice -->
<section class="mt-36">
  <app-gengoffee-notice [redWave]="true"></app-gengoffee-notice>
</section>
<!-- Clients feedback -->
<!-- <section class="home__clients__feedback">
  <app-clients-feedback></app-clients-feedback>
</section> -->