<div class="home">
  <section class="pt-24 flex max-w-5xl m-auto">
    <div class="pt-20 w-5/12">
      <div class="w-fit">
        <h2 class="tracking-[0.03em] pb-1">
          La culture japonaise
        </h2>
        <div class="divider"></div>
        <h3 class="ppmori uppercase opacity-50 tracking-[0.18em] pt-3">
          à votre rencontre
        </h3>
      </div>
      <div class="pt-10 text-xl w-10/12">
        Gengoffee est un collectif organisant 
        des événements Franco-Japonais et 
        Franco-Anglais sur Paris.
      </div>
      <div class="pt-9">
        <button class="gengoffee-btn gengoffee-btn-primary mr-4">
          Inscription
        </button>
        <button class="gengoffee-btn gengoffee-btn-outline-primary">
          En savoir plus
        </button>
      </div>
    </div>
    <div class="home__presentation__image w-7/12">
      <img />
    </div>
  </section>
  <section class="home__events">
    <div class="home__events__informations">
      <div class="home__events__informations__title">
        Nos événements, vos rencontres
      </div>
      <div class="home__events__informations__description">
        Chaque semaine des rendez-vous afin de vous permettre d’échanger autour d’un verre.
        Retrouvez nos prochaines sessions.
      </div>
    </div>
    <div class="home__events__carousel">
      <app-event-item></app-event-item>
      <app-event-item></app-event-item>
      <app-event-item></app-event-item>
      <app-event-item></app-event-item>
    </div>
  </section>
  <section class="home__partners text-lg">
    <app-partners></app-partners>
  </section>
  <section class="home__gengoffee-notice">
    <app-gengoffee-notice></app-gengoffee-notice>
  </section>
  <section class="home__clients__feedback">
    <app-clients-feedback></app-clients-feedback>
  </section>
</div>