<div class="gengoffee-blue-bg pt-12 pb-5 px-10 md:px-20 text-white">
  <div class="flex flex-col place-items-center">
    <div class="font-semibold text-lg">{{'footer.questions'|translate}}</div>
    <button [routerLink]="['/contact']" class="gengoffee-btn gengoffee-btn-primary text-sm mt-3">{{'contact_us'|translate}}</button>
    <div class="flex gap-2 mt-4">
      <span class="text-sm place-self-end">{{'footer.followus'|translate}}</span>
      <img src="assets/images/right-arrow-white.svg" />
      <a href="https://www.instagram.com/gengoffee"><img src="assets/images/instagram-white.svg" /></a>
      <a href="https://www.facebook.com/groups/gengoffee"><img src="assets/images/facebook-white.svg" /></a>
      <a href="https://www.meetup.com/fr-FR/find/?keywords=gengoffee&source=GROUPS"><img src="assets/images/meetup-white.svg" /></a>
    </div>
  </div>
  <div class="hidden md:block border-t border-white border-solid mt-16"></div>
  <div class="mt-3">
    <!-- Footer copyright Desktop layout -->
    <div class="hidden md:flex">
      <div class="flex justify-start flex-1 text-sm">© 2025</div>
      <div class="flex justify-center flex-1">
        <img src="assets/images/gengoffee-logo.svg" />
      </div>
      <div class="flex justify-end flex-1 text-sm">
        <a class="text-white" [routerLink]="['/legal-notice']">{{'legal.title'|translate}}</a>
      </div>
    </div>
    <!-- Footer copyright Mobile layout -->
    <div class="md:hidden">
      <div class="flex justify-between">
        <div class="text-sm">© 2025</div>
        <div class="flex justify-end flex-1 text-sm">
          <a class="text-white" [routerLink]="['/legal-notice']">{{'legal.title'|translate}}</a>
        </div>
      </div>
      <div class="border-t border-white border-solid mt-3"></div>
      <div class="flex place-content-center mt-3">
        <img src="assets/images/gengoffee-logo.svg" />
      </div>
    </div>
  </div>
</div>

