<div class="gengoffee-blue-bg pt-12 pb-5 px-10 md:px-20 text-white">
  <div class="flex flex-col place-items-center">
    <div class="font-semibold text-lg">Des questions ?</div>
    <button class="gengoffee-btn gengoffee-btn-primary text-sm mt-3">Contactez-nous</button>
    <div class="flex gap-2 mt-4">
      <span class="text-sm place-self-end">check up our social media</span>
      <img src="assets/images/right-arrow.svg" />
      <img src="assets/images/instagram-white.svg" />
      <img src="assets/images/facebook-white.svg" />
      <img src="assets/images/meetup-white.svg" />
    </div>
  </div>
  <div class="hidden md:block border-t border-white border-solid mt-16"></div>
  <div class="mt-3">
    <!-- Footer copyright Desktop layout -->
    <div class="hidden md:flex">
      <div class="flex justify-start flex-1 text-sm">© 2022</div>
      <div class="flex justify-center flex-1">
        <img src="assets/images/gengoffee-logo.svg" />
      </div>
      <div class="flex justify-end flex-1 text-sm">Conditions générales</div>
    </div>
    <!-- Footer copyright Desktop layout -->
    <div class="md:hidden">
      <div class="flex justify-between">
        <div class="text-sm">© 2022</div>
        <div class="text-sm">Conditions générales</div>
      </div>
      <div class="border-t border-white border-solid mt-3"></div>
      <div class="flex place-content-center mt-3">
        <img src="assets/images/gengoffee-logo.svg" />
      </div>
    </div>
  </div>
</div>