<div class="register">
    <div class="flex max-w-5xl mx-auto pt-24">
        <div class="pr-24 pl-24 pt-2 border-r border-solid border-[#]/50">
            <h1 class="text-[2.625rem]">{{'register.title'|translate}}</h1>
            <h2 class="text-white"
                style="text-shadow: 1px 0 0 #262829, 0 -1px 0 #262829, 0 1px 0 #262829, -1px 0 0 #262829;">
                {{'register.savethedate'|translate}}</h2>
            <div _ngcontent-ius-c5=""
                class="w-[22rem] p-5 opacity-50 rounded-[0.625rem] border border-solid border-[#262829] border-opacity-50 opacity-100">
                <div _ngcontent-ius-c5="" class="p-4 bg-[#F8E7E7] rounded-[0.625rem]">
                    <div _ngcontent-ius-c5="" class="flex justify-between ppmori">
                        <div _ngcontent-ius-c5="" class="text-xl italic font-thin tracking-[0.05em]">Passé</div>
                        <div _ngcontent-ius-c5="" class="flex flex-col">
                            <div _ngcontent-ius-c5="" class="text-sm font-semibold">Dimanche 10 juillet 2022</div>
                            <div _ngcontent-ius-c5="" class="text-xs">🇫🇷🇯🇵 Les Berthom - 18H15
                            </div>
                        </div>
                    </div>
                    <img _ngcontent-ius-c5="" src="assets/images/gengoffee_event-1.png" class="pt-4 m-auto w-full">

                </div>
            </div>
            <p class="text-center pt-8 text-[1.5rem]">{{'register.nextevent'|translate}}</p>
            <div class="mt-10 md:mt-16 grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-8 md:gap-10">
                <app-past-event-card></app-past-event-card>
                <app-past-event-card></app-past-event-card>
            </div>
        </div>
        <div class="pr-24 pl-24 pt-6">
            <p class="font-bold">{{'register.form.title'|translate}}</p>
            <p class="pt-6">{{'register.form.description'|translate}}</p>
            <form class="pt-2">
                <p class="pt-6">{{'register.form.name'|translate}}</p>
                <input type="text" name="name" placeholder="GENGOFFEE San" class="border-b border-solid pt-4">
                <p class="pt-6">{{'register.form.mail'|translate}}</p>
                <input type="text" name="name" placeholder="san-gengoffee@gengoffee.fr"
                    class="border-b border-solid pt-4">
                <div class="pt-6 whitespace-pre-wrap">
                    <p class="inline">{{'register.form.phone'|translate}} </p>
                    <p class="text-gray-400 inline">(facultatif)</p>
                </div>
                <input type="text" name="name" placeholder="+33X XX XX XX XX" class="border-b border-solid pt-4">
                <p class="pt-8">{{'register.form.language.title'|translate}}</p>
                <div class="inline pl-4">
                    <select id="standard-select" class="bg-white border-b-2">
                        <option value="lv1">{{'register.form.language.lv1'|translate}}</option>
                        <option value="lv2">{{'register.form.language.lv2'|translate}}</option>
                        <option value="lv3">{{'register.form.language.lv3'|translate}}</option>
                    </select>
                </div>

            </form>
        </div>
    </div>
</div>

<p>register works!</p>