<div class="register">
    <div class="max-w-xs md:max-w-5xl mx-auto pt-4 pb-8 text-center">
        <div class="md:pl-14 pt-6">
            <div class="">
                <h1 class="text-[2.625rem]">{{'register.title'|translate}}</h1>
                <h2 class="text-white"
                    style="text-shadow: 1px 0 0 #262829, 0 -1px 0 #262829, 0 1px 0 #262829, -1px 0 0 #262829;">
                    {{'register.savethedate'|translate}}</h2>
            </div>
            <p class="font-bold text-2xl pt-10">{{'register.form.title'|translate}}</p>
            <p class="pt-6">{{'register.form.description'|translate}}</p>
            <div name="location" class="flex flex-row md:w-1/2 m-auto gap-6 mt-5">
                <button type="button" [ngClass]="this.location === 0 ? 'opacity-100' : 'opacity-40'" (click)="selectLocation(0)" class="place-content-center flex mx-auto my-3 gengoffee-btn gengoffee-btn-tertiary">
                    {{'paris'|translate}}
                </button>      
                <button  type="button" [ngClass]="this.location === 1 ? 'opacity-100' : 'opacity-40'"  (click)="selectLocation(1)" class="place-content-center flex mx-auto my-3 gengoffee-btn gengoffee-btn-tertiary">
                    {{'tokyo'|translate}}
                </button> 
            </div>
            <p class="pt-14 ppmori-bold text-left md:w-2/3 w-4/5 m-auto">{{'register.eventDate'|translate}}</p>
            <div class="mt-4 flex flex-col gap-y-5 md:flex-row md:w-9/12 m-auto">
                <div class="justify-center m-auto" *ngFor="let event of nextEvents[this.location]">
                    <button type="button" (click)="selectEvent(event.id)" [ngClass]="event.id === selectedEvent ? 'opacity-100 border-black border rounded-[5%]' : 'opacity-60'"><app-past-event-card [event]="event"></app-past-event-card></button>
                </div>
            </div>
            
            <form class="pt-2 md:w-2/3 m-auto text-left" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <p class="pt-6">{{'register.form.lastname'|translate}}</p>
                <input type="text" formControlName="lastname" name="lastname" placeholder="SAN" class="w-full border-b border-solid pt-4">
                <p class="pt-6">{{'register.form.firstname'|translate}}</p>
                <input type="text" formControlName="firstname" name="firstname" placeholder="Gengoffee" class="w-full border-b border-solid pt-4">
                
                <p class="pt-6">{{'register.form.mail'|translate}}</p>
                <input type="text"  formControlName="mail" name="mail" placeholder="san-gengoffee@gengoffee.fr"
                    class="w-full border-b border-solid pt-4">
                <div class="pt-6 whitespace-pre-wrap">
                    <p class="inline">{{'register.form.phone'|translate}} </p>
                    <p class="text-gray-400 inline">({{'register.optional'|translate}})</p>
                </div>
                <input type="text" formControlName="phone" name="phone" placeholder="+33X XX XX XX XX" class="w-full border-b border-solid pt-4">
                <p class="pt-8">{{'register.form.language.title'|translate}}</p>
                
                <app-select-language [selectedLanguages]="selectedLanguages"></app-select-language>
                
                
                <p class="font-semibold mt-12 mb-2">{{'register.form.diet.title'|translate}}</p>
                <p>{{'register.form.diet.description'|translate}}</p>
                <div class="mt-6">
                    <button type="button" (click)="toggleDiet('vegetarian')" [ngClass]="{'border-black' : registerForm.get('dietList')?.value?.includes('vegetarian')}" class="text-gray-400 border-2 rounded-md px-4 py-2 ml-4 mb-2 ">{{'register.form.diet.vegetarian'|translate}}</button>
                    <button type="button" (click)="toggleDiet('vegan')" [ngClass]="{'border-black' : registerForm.get('dietList')?.value?.includes('vegan')}" class="text-gray-400 border-2 rounded-md px-4 py-2 ml-4 mb-2 ">{{'register.form.diet.vegan'|translate}}</button>
                    <button type="button" (click)="toggleDiet('halal')" [ngClass]="{'border-black' : registerForm.get('dietList')?.value?.includes('halal')}" class="text-gray-400 border-2 rounded-md px-4 py-2 ml-4 mb-2 ">{{'register.form.diet.halal'|translate}}</button>
                    <button type="button" (click)="toggleOther()" class="text-gray-400 border-2 rounded-md px-4 py-2 ml-4 mb-2 ">{{'register.form.diet.other'|translate}}</button>
                    <textarea [(ngModel)]="otherText" [ngModelOptions]="{standalone: true}" *ngIf="showText" name="otherText" class="border-b-4" placeholder="Let us know more..."></textarea>
                </div>
                <div class="text-sm my-4 inline-block">
                    <p class="inline ">{{'register.form.general-conditions.1'|translate}}</p>
                    <div class="inline underline"><a [routerLink]="['/general-conditions']">{{'register.form.general-conditions.2'|translate}}</a></div>
                </div>
                <p *ngIf="this.warning === 0" class="ppmori-bold gengoffee-red">{{'register.form.warning'|translate}}</p>
                <button [disabled]="!registerForm.valid || this.nextEvents.length === 0 || selectedEvent === '0'" type="submit" class="place-content-center flex mx-auto my-3 gengoffee-btn gengoffee-btn-primary">
                    {{'register.form.register'|translate}}
                </button>                             
            </form>   
        </div>
    </div>
</div>

