<div class="register">
    <div class="flex max-w-5xl mx-auto pt-24">
        <div class="pr-24 pl-24 pt-2 border-r border-solid border-[#]/50">
            <h1 class="text-[2.625rem]">{{'register.title'|translate}}</h1>
            <h2 class="text-white"
                style="text-shadow: 1px 0 0 #262829, 0 -1px 0 #262829, 0 1px 0 #262829, -1px 0 0 #262829;">
                {{'register.savethedate'|translate}}</h2>
            <app-event-item [active]="true" [participateLink]="false"></app-event-item>
            <p class="text-center pt-8 text-[1.5rem]">{{'register.nextevent'|translate}}</p>
            <div class="mt-10 md:mt-16 flex gap-8 md:gap-10">
                <app-past-event-card></app-past-event-card>
                <app-past-event-card></app-past-event-card>
            </div>
        </div>
        <div class="pl-24 pt-6">
            <p class="font-bold">{{'register.form.title'|translate}}</p>
            <p class="pt-6">{{'register.form.description'|translate}}</p>
            <form class="pt-2">
                <p class="pt-6">{{'register.form.name'|translate}}</p>
                <input type="text" name="name" placeholder="GENGOFFEE San" class="border-b border-solid pt-4">
                <p class="pt-6">{{'register.form.mail'|translate}}</p>
                <input type="text" name="name" placeholder="san-gengoffee@gengoffee.fr"
                    class="border-b border-solid pt-4">
                <div class="pt-6 whitespace-pre-wrap">
                    <p class="inline">{{'register.form.phone'|translate}} </p>
                    <p class="text-gray-400 inline">(facultatif)</p>
                </div>
                <input type="text" name="name" placeholder="+33X XX XX XX XX" class="border-b border-solid pt-4">
                <p class="pt-8">{{'register.form.language.title'|translate}}</p>
                <div *ngFor="let language of selectedLanguages; let index = index;" class="flex gap-4 pl-4 my-4">
                    <select [(ngModel)]="language.language" name="language + {{index}}" id="language + {{index}}" class="bg-white border-b-2">
                        <option value="fr" [selected]="'fr' === language.language">{{'register.form.language.french'|translate}}</option>
                        <option value="en" [selected]="'en' === language.language">{{'register.form.language.english'|translate}}</option>
                        <option value="jp" [selected]="'jp' === language.language">{{'register.form.language.japanese'|translate}}</option>
                    </select>
                    <select [(ngModel)]="language.level" name="level + {{index}}" id="level + {{index}}" class="bg-white border-b-2">
                        <option value="lv1" [selected]="'lv1' === language.level">{{'register.form.language.lv1'|translate}}</option>
                        <option value="lv2" [selected]="'lv2' === language.level">{{'register.form.language.lv2'|translate}}</option>
                        <option value="lv3" [selected]="'lv3' === language.level">{{'register.form.language.lv3'|translate}}</option>
                    </select>
                    <button type="button" (click)="removeLanguage(language)">X</button>
                </div>
                <button type="button" (click)="addLanguage()" class="flex text-gray-600 border-2 rounded-md px-4 py-2 my-6">{{'register.form.language.add'|translate}} +</button>


                <p class="font-semibold">{{'register.form.diet.title'|translate}}</p>
                <p>{{'register.form.diet.description'|translate}}</p>
                <div class="">
                    <button type="button" (click)="toggleDiet('None')" class="text-gray-400 border-2 rounded-md px-4 py-2 ml-4 mb-2">{{'register.form.diet.none'|translate}}</button>
                    <button type="button" (click)="toggleDiet('vegetarian')" class="text-gray-400 border-2 rounded-md px-4 py-2 ml-4 mb-2">{{'register.form.diet.vegetarian'|translate}}</button>
                    <button type="button" (click)="toggleDiet('vegan')" class="text-gray-400 border-2 rounded-md px-4 py-2 ml-4 mb-2">{{'register.form.diet.vegan'|translate}}</button>
                    <button type="button" (click)="toggleDiet('halal')" class="text-gray-400 border-2 rounded-md px-4 py-2 ml-4 mb-2">{{'register.form.diet.halal'|translate}}</button>
                    <button type="button" (click)="toggleOther()" class="text-gray-400 border-2 rounded-md px-4 py-2 ml-4 mb-2">{{'register.form.diet.other'|translate}}</button>
                    <textarea [(ngModel)]="otherText" *ngIf="otherText" class="border-b-4" placeholder="Let us know more..."></textarea>
                </div>
                <button class="place-content-center flex mx-auto my-3 gengoffee-btn gengoffee-btn-primary">
                    Participer
                </button>                
            </form>
        </div>
    </div>
</div>

